body {
    background-image: url("../img/hw3bkgrnd.png");
    background-repeat:no-repeat;
    background-size: 1920px 1080px;
    color:black;
    text-align: center;
}

div{
    font-family: 'Freckle Face', cursive;
    font-size:2em;
    margin-bottom: 0px;
}

header, main, footer {
    text-align: center;
}


footer {
    color:Red;
    position:absolute;
    bottom:0;
    width:100%;
    clear: left;
}