body {
    background-image: url("../img/hw3bkgrd2.png");
    background-repeat:no-repeat;
    background-size:cover;
    color:black;
    text-align: center;
}

h1{
    font-family: 'Freckle Face', cursive;
    font-size:4em;
    margin-bottom: 0px;
}

header, main, footer {
    text-align: center;
}


footer {
    clear: left;
}
